/*HEADER*/
.headerFeed {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1000px;
    height: 42px;
}

.headerFeed .profilepic {
    width: 43px;
    height: 43px;
    border-radius: 60px;
    cursor: pointer;
}

.headerFeed .logopic {
    width: 43px;
    height: 43px;
}

.headerFeed .titlepic {
    width: 163px;
    height: 43px;
}

/*TEXT AREA*/
.formularioContainer {
    background-color: #150714;
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #914d8b;
    margin: 0 -25vw;
    padding: 0 25vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.formulario {
    display: flex;
    background-color: #150714;
    margin: auto;
    width: 100%;
}

.formulario .profilepic2 {
    width: 63px;
    height: 63px;
    border-radius: 60px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

textarea {
    flex: 1;
    height: 113px;
    border: none;
    margin-top: 20px;
    outline: none;
    font-family: "Fira Code", monospace;
    color: #914d8b;
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    background-color: #2f112d;
}

textarea::placeholder {
    font-family: "Fira Code", monospace;
    color: #914d8b;
}

.spanBox {
    display: flex;
    background-color: #150714;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.spanBox span {
    background-color: #150714;
    font-family: "Fira Code", monospace;
    font-weight: 450;
    font-size: 13px;
}

.spanMax {
    color: #f50d5a;
}

.spanLenght {
    color: white;
    margin-left: 83px;
}

.post {
    width: 102px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
    font-family: Silkscreen;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #150714;
    background-color: #2f112d;
}

/*TWEETS*/
.tweetContainer {
    max-width: 1000px;
    margin: auto;
    width: 100%;
}

/*MOBILE RESPONSIVE*/
@media (max-width: 650px) {
    .headerFeed .logopic {
        width: 40px;
        height: 46px;
        margin-left: 100px;
    }

    .headerFeed .titlepic {
        width: 133px;
        height: 46px;
    }
    .formulario .profilepic2 {
        width: 55px;
        height: 55px;
    }
}
