/*LOGIN DESKTOP*/
.containerLogin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/*Left side*/
.imageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageBox .logo {
    width: 280px;
    height: 210px;
    margin-bottom: 35px;
}

.imageBox .title {
    width: 390px;
    height: 45px;
    margin-bottom: 20px;
}

/*Right side*/
.loginBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 550px;
}

.login {
    padding-bottom: 120px;
}

.loginBox .login img {
    height: 70px;
    align-self: left;
    padding-bottom: 40px;
    margin-top: 64px;
}

.login .intro {
    font-family: "Fira Code", monospace;
    color: white;
    max-width: 350px;
    text-align: left;
}

/*Button Login con Google*/
.buttonBox {
    position: relative;
    bottom: 59px;
    cursor: pointer;
}

.buttonBox button {
    cursor: pointer;
}

.boxGoogle {
    position: absolute;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    height: 48px;
    width: 44px;
}

.buttonBox img {
    width: 20px;
    height: 20px;
    bottom: 20px;
    position: absolute;
    z-index: 1;
    top: 14px;
    left: 12px;
    background: white;
}

.loginBox button {
    background-color: #4285f4;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 367px;
    height: 48px;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none;
}

.copyright {
    color: #60265b;
    text-align: center;
    width: 367px;
    position: absolute;
    bottom: 50px;
}

.copyright span {
    color: #c74362;
}

/*RESPONSIVE*/
@media (min-width: 651px) and (max-width: 900px) {
    .imageBox .logo {
        width: 240px;
        height: 190px;
        margin-bottom: 35px;
    }

    .imageBox .title {
        width: 290px;
        height: 35px;
        margin-bottom: 20px;
    }

    .loginBox .login img {
        height: 60px;
        align-self: left;
        padding-bottom: 40px;
        margin-top: 64px;
    }

    .login .intro {
        font-family: "Fira Code", monospace;
        color: white;
        max-width: 350px;
        text-align: left;
    }

    /*Button Login con Google*/
    .buttonBox {
        position: relative;
        bottom: 59px;
    }

    .boxGoogle {
        position: absolute;
        background-color: white;
        border-radius: 5px 0px 0px 5px;
        height: 38px;
        width: 44px;
    }

    .buttonBox img {
        width: 17px;
        height: 17px;
        bottom: 20px;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 12px;
        background: white;
    }

    .login .intro {
        max-width: 320px;
    }

    .loginBox button {
        width: 280px;
        height: 38px;
        font-weight: 500;
        font-size: 13px;
    }

    .copyright {
        width: 317px;
    }
}

/*LOGIN MOBILE*/
@media (max-width: 650px) {
    .containerLogin {
        display: flex;
        flex-direction: column;
    }

    .imageBox .logo {
        width: 180px;
        height: 120px;
        margin-top: 20px;
    }

    .imageBox .title {
        width: 290px;
        height: 25px;
    }

    .login img {
        height: 50px;
        margin-top: -20px;
        width: 260px;
    }

    .login .intro {
        width: 300px;
        margin-left: 33px;
    }

    .boxGoogle {
        left: 35px;
    }

    .buttonBox img {
        left: 45px;
    }

    .loginBox button {
        width: 250px;
        margin-left: 45px;
        margin-bottom: 20px;
    }

    .loginBox .login img {
        height: 70px;
        align-self: left;
        padding-bottom: 40px;
    }
}
