/*HEADER*/
.headerMyProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 1000px;
    height: 42px;
    width: 100%;
}

.containerMyProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMyProfile img {
    margin-right: 15px;
}

.containerMyProfile div {
    font-family: Silkscreen;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
}

.logoutBox {
    background-color: #f50d5a;
    width: 116px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logoutBox span {
    background-color: #f50d5a;
    margin-right: 10px;
    font-family: Silkscreen;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 2px;
}

.logoutBox img {
    background-color: #f50d5a;
}

/*PROFILE INFO*/
.myProfileInfo {
    background-color: #150714;
    height: 270px;
    border-bottom: 2px solid #914d8b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 -25vw;
    padding: 0 25vw;
}

.profilepic {
    width: 124px;
    height: 124px;
    border-radius: 80px;
    margin-top: 20px;
}

.user {
    width: 180px;
    margin-top: 10px;
}

.myProfileInfo .containerUser {
    padding: 3px 3px;
    border-radius: 0px 0px 0px 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: Silkscreen;
    font-size: 22px;
    font-weight: bold;
}

.myProfileInfoContent {
    background-color: #150714;
}

.containerPostsFavs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #150714;
    width: 655px;
    height: 40px;
    font-family: Silkscreen;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.333333px;
    justify-self: flex-end;
}

.selected {
    width: 50%;
    background-color: #60265b;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #150714;
}

.unselected {
    width: 50%;
    background-color: #150714;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #60265b;
}

.favsName {
    display: none;
}

/*RESPONSIVE MOBILE*/
@media (min-width: 501px) and (max-width: 900px) {
    .headerMyProfile {
        height: 32px;
    }

    .containerMyProfile img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .containerMyProfile div {
        font-size: 20px;
        line-height: 20px;
    }

    .containerPostsFavs {
        width: 495px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    .headerMyProfile {
        height: 32px;
    }

    .containerMyProfile img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    .containerMyProfile div {
        font-size: 20px;
        line-height: 17px;
    }
    .containerPostsFavs {
        width: 245px;
        height: 40px;
    }

    .containerPostsFavs div {
        font-size: 18px;
    }

    .favoritesName {
        display: none;
    }

    .favsName {
        display: block;
    }

    .profilepic {
        width: 104px;
        height: 104px;
    }
}
