/*HEADER*/
.headerMyProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 1000px;
    height: 42px;
    width: 100%;
}

.containerMyProfile {
    display: flex;
}

.containerMyProfile img {
    margin-right: 15px;
}

.logoutBox {
    background-color: #f50d5a;
    width: 116px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutBox img {
    background-color: #f50d5a;
}

/*PROFILE INFO*/
.myProfileInfo {
    background-color: #150714;
    height: 270px;
    border-bottom: 2px solid #914d8b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 -25vw;
    padding: 0 25vw;
}

.profilepic {
    width: 134px;
    height: 134px;
    border-radius: 80px;
    border: 2px solid yellow;
    margin-top: 20px;
}

.user {
    width: 180px;
    margin-top: 10px;
}

.myProfileInfo .containerUser {
    background-color: yellow;
    padding: 3px 3px;
    border-radius: 0px 0px 0px 5px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: Silkscreen;
}

.myProfileInfoContent {
    background-color: #150714;
}

.containerPostsFavs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #150714;
    width: 655px;
    height: 40px;
    font-family: Silkscreen;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.333333px;
    justify-self: flex-end;
}

.selected {
    width: 50%;
    background-color: #60265b;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.unselected {
    width: 50%;
    background-color: #150714;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #60265b;
}
