/*HEADER*/
.headerProfile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    max-width: 1000px;
    height: 42px;
}
.headerProfile a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerProfile img {
    margin-right: 15px;
}

.headerProfile span {
    font-family: Silkscreen;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: white;
}

/*PROFILE INFO*/
.profileInfo {
    background-color: #150714;
    height: 230px;
    border-bottom: 1px solid #914d8b;
    margin: 0 -25vw;
    padding: 0 25vw;
}

.profileInfo .containerUser {
    padding: 3px 3px;
    border-radius: 0px 0px 0px 5px;
    font-family: Silkscreen;
    font-size: 22px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    max-width: max-content;
    padding: 0 10px;
}

.profilepic {
    width: 134px;
    height: 134px;
    border-radius: 80px;
    margin-top: 10px;
}

.user {
    width: 180px;
    margin-top: 10px;
}

.ProfileInfo div .user {
    background-color: yellow;
    padding: 3px 3px;
    border-radius: 0px 0px 0px 5px;
}
